* {
    padding: 0;
    box-sizing: border-box;
    background-color: teal;
    color: whitesmoke;
}

/*Start Header/Nav Styles*/
header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
		position: -webkit-sticky;
		position: sticky;
        margin: 0%;

}

#wrapperHeader {
    width: 25%;
    text-align: center;
}

#wrapperHeader,
#header img {
    width: 300px; /* the width of the logo image */
    height:200px; /* the height of the logo image */
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
		display: flex;
		flex-direction: wrap;
		justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 18px;
}

/*End Header/Nav Styles*/

/*Start Footer Styles*/
footer {
    width: 100%;
    padding: 20px 30px;
}

footer h2 {
    text-align: center;
    font-size: 15px;
}
/*End Footer Styles*/

/*Start About Me Styles*/
#about-me {
		margin: 10px;
		padding: 20px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
		margin: 20px;
    padding: 30px;
}

.bio {
    font-size: 20px;
    text-align: left;
}
/*End About Me Styles*/

/*Start My Work Styles*/
.projects {
    width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex: 1;
}

.project1 h3,
.project2 h3,
.project3 h3 {
	text-align: center;
	font-size: 30px;
}

.project1 img {
	height: 500px;
	border-radius: 14px;
}

.project2 img {
	width: 400px;
	height: 500px;
	margin: 20px 40px ;
	border-radius: 14px;
}

.project2 h3 {
	margin: 20px 200px;
}


.project3 img {
	width: 400px;
	margin: 45px 40px;
	border-radius: 14px;
}
.project3 h3 {
	margin-top: 20px;
}
/*End My Work Styles*/

#resume {
	flex: 1;
}

/*Start Contact Me Styles*/
#contact-me > * {
	flex: 1;
}
#contact-me ul li {
		text-align: center;
}
/*Media Query For Smaller Desktop Screens and Smaller*/
@media screen and (max-width: 980px) {
	header {
			padding-bottom: 0;
			position: relative;
	}

	header h1 {
			width: 100%;
			text-align: center;
            margin-right: 20px;
            
	}

	header nav ul {
			margin-top: 20px;
			width: 100%;
			justify-content: space-around;
	}

	header nav ul li a {
		font-size: 20px;
	}
	
	footer h2,
	footer div {
		text-align: center;
		width: 100%;
	}

	.hero-cta,
	.hero-form {
		width: 100%;
	}

	.section-title {
		width: 80%;
	}

	.trainer {
		flex: 0 70%;
	}

	.contact-info i frame {
		flex: 1 100%;
	}
}
/*Media Query For Tablets and Smaller*/
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
}

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: space-around;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
    
    .trainer-bio h3, .trainer-bio h4 {
        display: block;
    }
}

/*Media Query For Mobile Phones and Smaller*/
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}
/* end media query styles*/


