:root {
    --primary-color: whitesmoke;
    --secondary-color: black;
}

body {
    background-color: var(--secondary-color);
}
/*Start Header/Nav Styles*/
header {
    height: 300px;
        /* padding: 20px 30px; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-image: url("../images/geometric-shapes-art.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: sticky;
        top: 0;
        z-index: 9999;

}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--secondary-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
		display: flex;
		justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 5px;
    font-weight: lighter;
    font-size: 18px;
    color: var(--secondary-color);
}

/*End Header/Nav Styles*/

/*Start About Me Styles*/
#about-me {
    margin: 10px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font {
    color: var(--primary-color);
}

.section-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
	margin: 20px;
    padding: 30px;
}

.bio {
    font-size: 20px;
    text-align: left;
}
/*End About Me Styles*/

/*Start My Work Styles*/
.my-work {
    display: flex;
}

.projects {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.project {
    display: none;
}

img {
    display: flex;
}
.one img {
    height: 700px;
	border-radius: 14px;
    width: 900px;
}

.two img,
.three img,
.four img,
.five img,
.six img,
.seven img {
	height: 500px;
	border-radius: 14px;
    width: 700px;
}

#prev,
#next {
    position: bottom left;
    color: whitesmoke;
    top: 43%;
    cursor: pointer;
    padding: 16px;
    transition: 0.6s;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    
}

#prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

#next {
    right: 0;
    border-radius:  3px 0 0 3px ;
}

#prev:hover,
#next:hover {
    background-color: #00000099;
}

.left,
.right {
    position: absolute;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2;
    transition: background-color 0.6s ease;
}

.active {
    background-color: grey;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
    
}

/*End My Work Styles*/

.contact-me {
    display: flex;
}

#resume {
	font-size: 20px;
    margin-left: 80px;
}

/*Start Contact Me Styles*/

#flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-message {
    height: 100px;
    width: 300px;
    margin-top: 10px;
    border: 1px solid whitesmoke;
}
#contact-email,
#contact-name {
    border: 1px solid whitesmoke;
    margin: 10px;
    width: 210px
}

.headShot {
    height: 200px;
    margin: 10px 30px 10px 40px ;
}

.github,
.linkedin{
	display: inline;
    float: right;
    margin-right: 40px;
    margin-bottom: 20px;
} 
/*Media Query For Smaller Desktop Screens and Smaller*/
@media screen and (max-width: 768px)  {
	header {
        width:100%;
        padding-bottom: 0;
	}

	header nav ul {
		display: inline;

	}
    #about-me {
        display: flex;
    }


    .one img,
    .two img,
    .three img,
    .four img,
    .five img,
    .six img {
        height: 300px;
        border-radius: 14px;
        width: 500px
}

} 

/*Media Query For Mobile Phones and Smaller*/
@media screen and (max-width: 575px) {
    header {
        width:90%;
        padding-bottom: 0;
	}

	header nav ul {
		display: flex;
        font-size: 12px;
	}

    header nav ul a {
        margin: 0;
    }


    #about-me {
        display: flex;
    }

    .one img,
    .two img,
    .three img,
    .four img,
    .five img,
    .six img {
        height: 200px;
        border-radius: 14px;
        width: 300px
}

#flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-message {
    height: 75px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid whitesmoke; 
}
#contact-email,
#contact-name {
    border: 1px solid whitesmoke;
    margin: 10px;
    width: 190px
}

.email {
    font-size: 12px;
    float: right;
}

.headShot {
    height: 150px;
    margin: 10px 30px 10px 40px ; 
}

} 
/* end media query styles*/